@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background: rgb(255, 0, 155);
  background: linear-gradient(
    6deg,
    rgba(255, 0, 155, 1) 0%,
    rgba(253, 29, 29, 1) 45%,
    rgba(253, 29, 29, 1) 59%,
    rgba(252, 176, 69, 1) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  45% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.1;
  }
}

.animate-slide {
  animation: slide 5s linear infinite;
}

.animate-slide-1 {
  animation-delay: 5s;
}

.animate-slide-2 {
  animation-delay: 5s;
}
